body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 500;
  background-repeat: repeat-x;
  background-image: url(http://www.vminnovations.com/sys/resource.ashx?guid=158de25c82774166aad87698b7a9311b&w=1000&h=520);
  background-size: 50%;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#hometown {
  text-align:center;
}
h4 {
  color: green;
}
#AFC {
  color: red;
}
#NFC {
  color: blue;
}
#pic {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#Pats {
  width: 100px;
}
#Panths {
  width: 100px;
}
