body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 500;
  background-repeat: repeat;
  background-image: url(http://api.ning.com/files/m*TYgp7BAkEjiA0JjAI4cO2ybK4X2Cvj*8VteWnem9QiUOSk2hc*cthHuBVG2YQUiUNtt31DylrppIWBeUBYkP2bTK8CdXPz/chicagosunset01.jpg);
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h4 {
  color: green;
}
#summary {
  color: blue;
}
.unicorns {
  color: purple;
}
h1 {
  text-align: center;
}
h1 {
   border-color:red;
}